@media screen and (max-width: 1150px) {
  .profile-section {
    clear: both;
    position: absolute;
    top: 0;
    width: 50%;
    margin: 0;
    padding: 0;
    float: left;
    margin-top: 5%;
    margin-left: 3%;
  }
  .posts {
    top: 370px;
    width: 90%;
    left: 0;
    right: 0;
  }
  .post {
    width: 80%;
  }
  .post-reactions {
    margin-left: 37%;
  }
  .chat-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 35%;
    margin-top: 5%;
    margin-right: 3%;
  }
  #bin {
    position: relative;
    right: -90%;
    top: -59px;
    width: 5px;
    height: 5px;
    z-index: 19;
  }
}
@media screen and (max-width: 840px) {
  .chat-container {
    clear: both;
    margin: 0;
    width: 60%;
    top: 370px;
    right: auto;
    left: 20%;
    min-width: 350px;
  }
  .post-reactions {
    margin: auto;
  }
  .chat-chat {
    width: 83%;
    min-width: none;
  }
  .friend {
    width: 40px;
  }
  .profile-section {
    left: 13%;
    width: 70%;
  }
  .posts {
    top: 680px;
  }
  .chat-friends {
    width: 35px;
  }
}
@media screen and (max-width: 618px) {
  .chat-container {
    width: 100%;
    margin: 0;
    left: 0;
    border-radius: 0;
    top: 320px;
  }
  .chat-chat {
    width: 85%;
  }
  .chat-bar {
    border-radius: 0;
  }
  .chat-nav {
    border-radius: 0;
  }
  .friend {
    width: 30px;
  }
  .chat-friends {
    width: 5%;
  }
  .posts {
    width: 100%;
    margin: 0;
    top: 635px;
    height: 100vh;
  }
  .post-nav {
    border-radius: 0;
  }
  .post {
    width: 90%;
  }
  .profile-section {
    width: 100%;
    margin: 0;
    left: 0;
    border-radius: 0;
  }
  .profile-nav {
    border-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .banner-section {
    border-radius: 0;
  }
}
@media screen and (max-width: 618px) {
  .chat-chat {
    width: 80%;
    min-width: none;
  }
}
@media screen and (max-width: 860px) {
  .chat-chat {
    min-width: none;
    width: 80%;
  }
}

///LOGIN PAGE

@media screen and (max-width: 1160px) {
  .login-container {
    width: 80%;
  }
}
@media screen and (max-width: 880px) {
  .login-left {
    display: none;
  }
  .login-right {
    width: 90%;
    margin: auto;
    margin-left: 6%;
  }
}
@media screen and (max-width: 600px) {
  .login-right {
    width: 100%;
    margin-left: 1%;
    margin-top: 10%;
  }
  .login-container {
    width: 100%;
    height: 100vh;
    top: 0;
    border-radius: 0;
    margin: 0;
    box-shadow: none;
    padding: 0;
    bottom: 0;
  }
}
